<%- include("../partials/adminheader.ejs") %>



<h4 class="text-center plansH">Support ticket</h4>
<hr id="hr">


<div class="container showticketcontainer">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group mt-5">
                <li class="list-group-item active">
                    Ticket
                </li>
                <li class="list-group-item">
                    Personal Info
                </li>
            </div>
        </div>
        <div class="col-md-6 realticket">
            <form action="/admin/support/<%=ticket._id %>?_method=PUT" method="POST">
            <div>
                <label>Type</label>
            </div>
            <div>
                <label class="form-control"><%= ticket.type %></label>
            </div>
            <div>
                <label>Comments</label>
            </div>
            <div>
                <label class="form-control"><%= ticket.comment %></label>
            </div>
            <div>
                <label>Created On</label>
            </div>
            <div>
                <label class="form-control"><%= moment(ticket.date).format("DD.MM.YYYY HH:mm") %></label>
            </div>
            <div class="text-center">
                <button class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Solved</button>
            </div>
        </form>
        </div>
    </div>
</div>
<%- include("../partials/supportsvg3.ejs"); %>

<%- include("../partials/footer.ejs"); %>