<%- include("../partials/adminheader.ejs") %>
<title>Support Ticket</title>
</head>


<h4 class="text-center plansH">Support ticket</h4>
<hr id="hr">


<div class="container showticketcontainer">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group mt-5">
                <li class="list-group-item active ticketinfo">
                    Ticket
                </li>
                <li class="list-group-item ticketuserinfo">
                    Personal Info
                </li>
            </div>
        </div>
        <div class="col-md-6 realticket">
            <form action="/admin/support/<%=ticket._id %>?_method=PUT" method="POST" url="/user/<%= ticket.author.id %>" class="adminticketform"> 
            <div>
                <label><strong>Type</strong></label>
            </div>
            <div>
                <label class="form-control"><%= ticket.type %></label>
            </div>
            <div>
                <label><strong>Comments</strong></label>
            </div>
            <div>
                <label class="form-control"><%= ticket.comment %></label>
            </div>
            <div>
                <label><strong>Created On</strong></label>
            </div>
            <div>
                <label class="form-control"><%= moment(ticket.date).format("DD.MM.YYYY HH:mm") %></label>
            </div>
            <% if (ticket.status!="Solved"){ %>
                <div class="text-center">
                    <button class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Solved</button>
                </div>
            <% } %>
        </form>
        </div>
    </div>
</div>
<%- include("../partials/supportsvg3.ejs"); %>

<%- include("../partials/footer.ejs"); %>