<%- include("../partials/adminheader.ejs"); %>

<div class="container">
    <h1 class="text-center plansH">
      All Users
    </h1>
    <hr id="hr">
    <h4 class="text-center mt-5">
      Showing all active connection user
    </h4>
  </div>
   
  
  <div class="row" >
    <div class="container" >
      <table class="table table-striped table-bordered" >
        <thead>
          <tr>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Plan</th>
            <th scope="col" class="text-center">E-mail ID</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% users.forEach(function(user){ %>
            <tr>
                <td><strong>
                  <%= user.username %>
                </strong></td>
              <td><%= user.plan %></td>
              <td class="d-flex justify-content-between"><%= user.email %><a href="/users/<%= user._id %>"><i class="fas fa-chevron-circle-right planarrow"></i></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

<%- include("../partials/footer.ejs"); %>