<%- include("../partials/header.ejs"); %>
<title><%= router.name %></title>

<div class="routershow">
  <div class="routername">
    <h4 id="routername1"><%= router.name %></h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, pariatur!</p>
    <div class="routerfeatures">
      <h3 class="mt-5 mb-4">Features</h3>
      <ul class="routerlist">
        <li>Fast Speed—Simultaneous 2.4GHz 300 Mbps and 5GHz 867 Mbps connections for 1200 Mbps of total available
          bandwidth </li>
        <li>Stable Connections—4 external antennas and one internal antenna provide stable wireless connections and
          optimal coverage </li>
        <li>Wider Coverage—Beamforming technology delivers wider wireless coverage</li>
        <li>Smoother Network—MU-MIMO achieves 2X efficiency by communicating with up to 2 devices at once </li>
      </ul>
    </div>
  </div>
  <div class="routershwimg">
    <img src="<%= router.image %>" class="Rimage">
  </div>



  <button id="rzp-button1" class="btn btn-danger btn-lg">Buy Now</button>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var orderid;
    var amount;
    var email =<% - JSON.stringify(currentUser.email) %>
    var name =<% - JSON.stringify(currentUser.name) %>
    var phone =<% - JSON.stringify(currentUser.phone) %>
    const price =<% - JSON.stringify(parseInt(router.price)) %>
    const dataprice = { 'price': price }
    document.getElementById('rzp-button1').onclick = function (e) {
      e.preventDefault();
      axios.post('/router/payment', dataprice).then(function (response) {
        orderid = response.data.id;
        amount = parseInt(response.data.amount);
        var options = {
          "key": "rzp_liv_ko5Cd9zg79gvl1", // Enter the Key ID generated from the Dashboard
          "amount": amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "ACT PORTAL",
          "description": "Router",
          "image": "https://example.com/your_logo",
          "order_id": orderid, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "prefill": {
            "name": name,
            "email": email,
            "contact": "+91" + phone
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "red"
          },
          "handler": function (response) {
            console.log(response);
            const data = {
              'razorpay_payment_id': response.razorpay_payment_id,
              'razorpay_order_id': response.razorpay_order_id,
              'razorpay_signature': response.razorpay_signature,
              'description': "Router"
            }
            axios.post('/router/payment/success', data);
            $("#exampleModalCenter").modal("show");
          }
        };
        var rzp = new Razorpay(options);
        rzp.open();
      })
        .catch(function (error) {
          console.error(error);
        });
    }
  </script>



  <div class="modal fade" id="exampleModalCenter" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Payment Successfull</h5>
        </div>
        <div class="modal-body">
          <i class="fas fa-check-circle" style="color:green"></i> Router order placed succesfully
        </div>
        <div class="modal-footer">
          <a href="/home" type="button" class="btn btn-outline-danger">OK</a>
        </div>
      </div>
    </div>
  </div>



  <%- include("../partials/footer.ejs"); %>