<%- include("../partials/header.ejs"); %>

<h1 class="plansH text-center">All Routers</h1>
<hr id="hr">

<div class="container mt-5">
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
 
        <% routers.forEach(function(router){ %>
           <div class="col-md-4">
               <div class="card">
                   <img src="<%= router.image %>">
                   <div class="card-header">
                       <h4><%= router.name %></h4>
                   </div>
                   <p>
                       <a href="/routers/<%= router._id %>" class="btn btn-danger mt-3">View More Info</a>
                   </p>
               </div>
          </div>
       <% }) %>
       </div>	
       </div>
</div>






<%- include("../partials/footer.ejs"); %>