<%- include('partials/header.ejs'); -%>
<title>All Plans</title>
</head>


<div class="container">
  <h1 class="text-center plansH">
    All Plans
  </h1>
  <hr id="hr">
  <h4 class="text-center mt-5">
    Showing the best plans
  </h4>

</div>
 

<div class="row" >
  <div class="container" id="planTable">
    <table class="table table-striped table-bordered tableplan" >
      <thead>
        <tr>
          <th scope="col" class="text-center">Name</th>
          <th scope="col" class="text-center">Speed</th>
          <th scope="col" class="text-center">Data</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% plans.forEach(function(plan){ %>
          <tr>
              <td><strong>
                <%= plan.name %>
              </strong></td>
            <td><%= plan.speed %></td>
            <td ><%= plan.data %><a href="/plans/<%= plan._id %>"><i class="fas fa-chevron-circle-right planarrow"></i></a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>